<div class="home-intro">
  <div class="jumbo">{{site.heading}} </div>
  <div class="home-sub-text">
    <p>As a content designer, I create user-centred content that puts user needs first.</p>
    <p>I’m passionate about accessibility, plain English and content that helps people do what they need to.</p>
    <p>I’ve worked in content design for over 5 years with roles in the public and charity sectors.</p>
    <p>You can <a href="{{'/notes' | relative_url}}">find out more about my recent work</a>.</p>
  </div>
</div>
