<div class="home-intro">
  <div class="jumbo">{{site.heading}} </div>
  <div class="home-sub-text">
    <h3>
      As a content designer, I create user-centred content that puts user needs first.
      I’m passionate about accessibility, plain English and content that helps people do what they need to.
      I’ve worked in content design for over 5 years with roles in the public and charity sectors.
      You can <a href="{{'/notes' | relative_url}}">find out more about my recent work</a>.
    </h3>
  </div>
</div>
